
@media screen and (min-width:1025px){
    #top-header{
    height: 50px;
    padding: 0px 60px 10px 0;
    .content-links{
        float: right;
        font-size: 1em;
        word-spacing: 5px;
        margin-right: 20px;
        margin-top: 7px;
        span{
            letter-spacing: 2px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .social-media-links{
        float: right;
        clear: both;
        margin-top: 10px;
        a{
            &:hover{
                cursor: pointer;
            }
        }
    }
}
}
@media screen and (min-width:1210px){
    #sidebar{
         width: 300px;
         background: transparent;
         padding: 20px 20px 20px 15px;
         transition: width 0.3s ease;
         border: 0;
         z-index: 500;
         position: absolute;
         top: 92px;
         left: 0px;
    .navbar{
        display: block;
        position: absolute;
        background: transparent;
        width: 250px;
        margin-right: 0;
        text-align: left;
        ul{
            list-style: none;
            width: 100%;
            .nav-button{
                display: block;
                padding: 13px 59px 9px 20px;
                width: 100%;
                height: 44px;
                text-transform: capitalize;
                font-size: 18px;
                letter-spacing: 0.22px;
                font-weight: 300;
                color: #32485F;
                border-radius: 2px;
                &:nth-child(8){
                    margin-right: 0;
                }
                &:hover{
                cursor: pointer;
                }
            }
            .active{
                background: #FFD101;
                font-weight: bolder;
            }
            .marginright0{
                margin-right: 0;
            }
        }
    }
    }
    
    #main-header{
        height: 92px;
    #logo{
        padding-top: 15px;
        margin-left: 0px;
        @media screen and (min-width:1309px){
            margin-left: 50px;
        }
        img{
        }
    }
    .hidden{
        display: none;
    }
            .menu-btn{
                display: none;
                
        }
}
}
@media screen and (min-width:950px){
#banner{
    @include background-size(cover);
    white-space: nowrap;
    height: 444px;
    margin-left: 300px;
    background-image: url("../images/Group%202.png");    
    #banner-overlay{
        background: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.1),rgba(0,0,0,0));
        text-align: center;
        height: 100%;
        padding-top: 86px;
        div{
            color: white;
            text-transform: none;
        }
        .first_heading{
            font-size: 72px;
            font-weight:600;
        }
        .second_heading{
            font-size: 36px;
            font-weight: 300;
        }
    }
}   
}


@media screen and (min-width:1025px){
    #feeds{
        margin-left: 300px;
        padding-top: 40px;
        .container{
            width: 100%;
            .container_header{
                height: 42px;
                width: 100%;
                padding: 5px 20px 10px 0px;
                text-transform: capitalize;
                span{
                    text-align: left;
                    color: #1B2733;
                }
                .left{
                    float: left;
                    font-size: 24px;
                    width: 287px;
                    border-left: solid #6A2FE5 8px;
                    padding-left: 10px;
                }
                .right{
                    display: block;
                    float: right;
                    width: 101px;
                    height: 32px;
                    padding: 7px 0px 8px 7px;
                    background: #FFD101;
                    border-radius: 2px;
                    font-size: 14px;
                    img{
                        height: 22px;
                        width: 22px;
                    }
                }
            }
            .content{
                width: 100%;
                margin-top: 20px;
                margin-bottom: 80px;
                overflow: scroll;
                text-align: left;
                .feed-card{
                    overflow: scroll;
                    &:nth-child(2n){
                    margin-left: 0px;
                    }
                    float: left;
                    margin-bottom: 20px;
                    width: 390px;
                    margin-right: 30px;
                    margin-left: 0px;
                    &:nth-child(4n){margin-right: 0px; margin-left: 0px;}
                    .feed-image{
                        position: relative;
                        box-shadow: 0 2px 35px 0 rgba(0,0,0,0.10);
                        background-color: #ffffff;
                        img{
                            width: 390px;
                            max-height: 212px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        .feed-overlay{
                            position: absolute;
                            width: 100%;
                            height: 212px;
                            z-index: 200;
                            &:hover{
                                background-color: rgba(256,256,256,0.4);
                                cursor: pointer;
                            }
                        }
                        height: 212px;
                        i{
                            color: #FFD101;
                        }
                    }
                    .feed-content{
                        margin-top: 30px;
                        font-size: 0.9em;
                        p{
                            line-height: 20px;
                        }
                    }
                }
            }
    }
}
}
@media screen and (min-width:1000px){
 #footer{
    padding: 50px 0 0 0;
     text-align: left;
    .footer-links{
        margin-left: 70px;
        float: left;
        padding-bottom: 20px;
        .links{
            li{
                margin: 10px 0 20px 0;
                font-size: 1.3em;
                font-weight: lighter;
            }
        }
    }
    .form{
        float: left;
        margin-left: 30%;
        header{
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        input{
            color: #404142;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 300px;
            height: 40px;
            margin-bottom: 10px;
            font-size: 1.2em;
            padding: 10px;
            &::placeholder{
                opacity: 1;
                color: #404142;
            }
        }
        .message{
            color: #404142;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 300px;
            height: 40px;
            margin-bottom: 10px;
            font-size: 1.2em;
            padding: 10px;
            height: 120px;
            &::placeholder{
                color: #404142;
            }            
        }
    }
     .social-media{
         float: left;
         margin: 0 0 0 200px;
     }
    .footer-black{
        width: 100%;
        float: left;
        font-size: 1em;
    }
}   
}