@media screen and (min-width:1210px){
    #sidebar{
         width: 300px;
         background: transparent;
         padding: 20px 20px 20px 15px;
         transition: width 0.3s ease;
         border: 0;
         z-index: 500;
         position: absolute;
         left: 0;
    .navbar{
        display: block;
        position: relative;
        background: transparent;
        width: 250px;
        margin-right: 0;
        text-align: left;
        ul{
            list-style: none;
            width: 100%;
            .nav-button{
                display: block;
                padding: 13px 59px 9px 20px;
                width: 100%;
                height: 44px;
                text-transform: capitalize;
                font-size: 18px;
                letter-spacing: 0.22px;
                font-weight: 300;
                color: #32485F;
                border-radius: 2px;
                &:hover{
                cursor: pointer;
                }
            }
            .active{
                background: #FFD101;
                font-weight: bolder;
            }
        }
    }
        .sidebar-tag-section{
            margin-left: 2px;
            margin-top: 25px;
            position: relative;
            width: 256px;
            input[type="search"]{
                height: 36px;
                width: 256px;
                background: #FFFFFF;
                border: 1px solid #6A2FE5;
                border-radius: 2px;
                background-image: url("../images/Bitmap.png");
                background-repeat: no-repeat;
                background-position: 10px 6px;
                background-size: 20px auto;
                padding:0px 7px 0px 40px;
                font-size: 14px;
                color: #32485F;
                letter-spacing: 0.17px;
                &::placeholder{
                    font-size: 12px;
                    color: #98A3AF;
                    letter-spacing: 0.15px;
                    font-weight: lighter;
                }
                &:focus{
                   border: 1px solid #6A2FE5;
                   border-radius: 2px;
                    outline: none;
                }
                &::-webkit-search-cancel-button {
                    -webkit-appearance:none;//clear defaults
                    height: 21px;
                    width: 21px;
                    background-image: url("../images/search-cancel.png");
                    background-repeat: no-repeat;
                    background-size: 21px auto;
                    opacity: 0.8;
                }
            }
        }
    }
    
    #main-header{
        height: 92px;
    #logo{
        padding-top: 15px;
        margin-left: 0px;
        @media screen and (min-width:1309px){
            margin-left: 50px;
        }
        img{
        }
    }
    .hidden{
        display: none;
    }
            .menu-btn{
                display: none;
                
        }
}
}
@media screen and (min-width:950px){
#banner{
//    @include background-size(cover);
    white-space: nowrap;
    height: 444px;
    margin-left: 300px;
    background-image: url("../images/Group%202.png");    
    #banner-overlay{
        background: linear-gradient(to left,rgba(0,0,0,0.5),rgba(0,0,0,0.1),rgba(0,0,0,0));
        text-align: center;
        height: 100%;
        padding-top: 86px;
        div{
            color: white;
            text-transform: none;
        }
        .first_heading{
            font-size: 72px;
            font-weight:600;
        }
        .second_heading{
            font-size: 36px;
            font-weight: 300;
        }
    }
}   
}


@media screen and (min-width:1025px){
    #feeds{
        margin-left: 300px;
        padding-top: 16px;
        .container{
            width: 100%;
            margin-top: 20px;
            .container_header{
                height: 42px;
                border-left: solid #6A2FE5 8px;
                width: 100%;
                padding: 5px 20px 10px 0px;
                text-transform: capitalize;
                span{
                    text-align: left;
                    color: #1B2733;
                }
                .left{
                    float: left;
                    font-family: Lato;
                    font-size: 24px;
                    color: #1B2733;
                    letter-spacing: 0.29px;
                    width: 287px;
                    font-weight: 600;
                    padding-left: 10px;
                }
                .right{
                    display: block;
                    float: right;
                    width: 101px;
                    height: 32px;
                    padding: 7px 0px 8px 7px;
                    background: #FFD101;
                    border-radius: 2px;
                    font-size: 14px;
                    img{
                        height: 22px;
                        width: 22px;
                    }
                }
            }
            .content{
                width: 100%;
                margin-top: 20px;
                position: relative;
                padding-top: 0;
                border-bottom: 1px solid #D8D8D8;
                &:last-child{
                    border-bottom: 0;
                }
                text-align: left;
                .owl-stage-outer{
                    max-height:318px!important;
                }
                .feed-card{
                    margin-bottom: 20px;
                    width: 390px;
                    float: left;
                    margin-right: 30px;
                    margin-left: 0px;
                    .feed-image{
                        position: relative;
                        box-shadow: 0 2px 35px 0 rgba(0,0,0,0.10);
                        background-color: #ffffff;
                        height: 212px;
                        img{
                            height: 212px;
                        }
                        i{
                         position: absolute;
                         color:#FFD101;
                         left: 50%;
                         top: 50%;
                         transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    .feed-content{
                        margin-top: 8px;
                        header{
                            color: #6A2FE5;
                            font-size: 16px;
                            margin-top: 0px;
                            text-transform: capitalize;
                            line-height: 19px;
                            letter-spacing: 0.2px;
                            width: 248px;
                        }
                        .tags{
                            margin-top: 8px;
                            line-height: 17px;
                            max-height: 18px;
                            overflow: hidden;
                            max-width: 390px;
                            tag{
                                display: inline;
                                height: 100%;
                                color: #2e4760;//Custom color applied
                                font-size: 14px;
                                word-break: break-all;
                                font-weight: 400;
                                margin-right: 17px;
                                &:before{
                                    content: '#';
                                    color: #6A2FE5;
                                    font-size: 14px;
                                    
                                }
                            }
                        }
                        .stats{
                            height: 24px;
                            width: 390px;
                            margin-top: 9px;
                            .lol-icon{
                                width: 38px;
                                height: 24px;
                                float: left;
                            }
                            .lol-counter{
                                font-size: 12px;
                                color: #141E00;
                                margin-left: 6px;
                                line-height: 17px;
                                vertical-align: middle;
                                margin-top:3px;
                                float: left;
                            }
                            .comment-icon{
                                height: 18px;
                                width: 18px;
                                margin-right: 6px;
                                vertical-align: middle;
                                margin-top:3px;
                                float: right;
                            }
                            .comment-counter{
                                font-family: Lato-Regular;
                                font-size: 14px;
                                color: #32485F;
                                vertical-align: middle;
                                margin-top:3px;
                                float: right;
                            }
                        }
                    }
                }
                .owl-item{
                    width: 390px!important;
                }
                .owl-nav{
                    position: absolute;
                    display: block;
                    top: 20%;
                    width: 100%;
                    left: 0;
                    height: 96px;
                    padding: 0;
                    margin: 0;
                    .owl-prev{
                        display: none;
                    }
                    .owl-next{
                        padding: 0;
                        margin: 0;
                        background: transparent;
                        position: absolute;
                        right: 0;
                    }
                }
                .owl-dots{
                    display: none;
                }
            }
    }
}
}
@media screen and (min-width:1000px){
 #footer{
    padding: 30px 0 0 0;
     margin-top: 30px;
     background: #FFD101 ;
     text-align: left;
     .container{
         width: 1120px;
         margin-left: auto;
         margin-right: auto;
     }
    .footer-links{
        float: left;
        padding-bottom: 20px;
        .links{
            li{
                &:first-child{
                    margin-top: 0;
                }
                margin: 10px 0 20px 0;
                font-size: 1.3em;
                font-size: 16px;
                color: #1B2733;
                letter-spacing: 0.2px;
                .link-icon{
                    display: inline-block;
                    width: 15px;
                    text-align: center;
                    margin-right: 9px;
                    i{
                        font-size: 14px;
                    }
                }
                
            }
        }
    }
     .categories-links{
        margin-left: 150px;
        float: left;
        padding-bottom: 20px;
        header{
            text-transform: uppercase;
            margin-bottom: 18px;
            font-size: 16px;
            color: #1B2733;
            letter-spacing: 0.2px;
            font-weight: bold;
        }
        .links{
            display: inline-block;
            list-style: none;
            width: 101px;
            li{
                &:first-child{
                    margin-top: 0;
                }
                margin: 10px 0 20px 0;
                font-size: 14px;
                color: #1B2733;
                letter-spacing: 0.2px;
            }
        }
         .links-right{
             margin-left: 26px;
             vertical-align: top;
         }
    }
    .form{
        float: left;
        margin-left: 60px;
        header{
            text-transform: uppercase;
            margin-bottom: 18px;
            font-size: 16px;
            color: #1B2733;
            letter-spacing: 0.2px;
            font-weight: bold;
        }
        input{
            color: #404142;
            border: 1px solid #979797;
            border-radius: 2px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 300px;
            height: 40px;
            margin-bottom: 10px;
            font-size: 14px;
            color: #32485F;
            letter-spacing: 0.17px;
            padding: 10px;
            &::placeholder{
                opacity: 1;
                font-size: 14px;
                color: #32485F;
                letter-spacing: 0.17px;
            }
        }
        .message{
            resize: none;
            color: #404142;
            border: 1px solid #979797;
            border-radius: 2px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 300px;
            height: 127px;
            margin-bottom: 10px;
            font-size: 14px;
            padding: 10px;
            &::placeholder{
                font-size: 14px;
                color: #32485F;
                letter-spacing: 0.17px;
            }            
        }
        #send-button{
            float: right;
            width: 117px;
            height: 42px;
            background: #32485F;
            border-radius: 2px;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0.2px;
            text-transform: uppercase;
        }
    }
     .social-media{
         width: 170px;
         float: left;
         margin: 37px 0 0 50px;
         #upload-button{
             width: 170px;
             height: 36px;
             button{
                 width: 170px;
                 height: 36px;
                 background: transparent;
                 border: 1px solid #1B2733;
                 border-radius: 2px;
             }
         }
         #facebook-login{
             width: 170px;
             height: 36px;
             margin-top: 14px;
             background: #3A6CD2;
             border-radius: 2px;
             i{
                 margin: 9px 0px 9px 14px;
                 font-size: 18px;
             }
             span{
                 margin-left: 11px;
                 font-size: 14px;
                 display: inline-block;
                 margin-top: 10px;
                 color: #FFFFFF;
                 letter-spacing: 0.17px;
             }
         }
     }
    .footer-black{
        width: 100%;
        height: 43px;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0.15px;
        float: left;
    }
}   
}